# gradle

.gradle/
build/
out/
classes/

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# other
eclipse
run
run-data

# Files from Forge MDK
forge*changelog.txt

# datagen generated

.cache/
